header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  flex-shrink: 0;
  background-color: #f0f0f0;
  color: #000;
  padding: 16px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-inner a {
  padding: 0 10px;
  color: rgba(0,0,0,.75);
}
.header-inner a:hover {
  color: #000;
}
.header-inner .header-right {
  display: flex;
  justify-content: space-between;
}
.header-right .hot-post {
  padding-right: 30px;
}
.header-right .all-post {
  padding-right: 30px;
}
.header-right .login {
  padding-right: 0;
}
